<!-- This is the header syntax -->
<link rel="stylesheet" href="/css/header.css">
<div>
    <div class="navBar">
        <div class="nameOfApp"><a href="/"> &nbsp; &nbsp;Employee Review System</a></div>
        <% if (locals.user){ %>
            <%if(locals.user.isAdmin){%>
                <div class="logOut">
                    <a style="text-decoration: none;" href="/admin/assignWork"> Assign Work</a>
                    <a href="/admin/add-employee"> Add Employee</a>
                    <a href="/admin/view-employee"> Employees</a>
                    <a href="/users/sign-out" > <button>logout</button></a> 
                    <span class="nameOfUser">Hi!  <%= locals.user.name%>  </span> 
                </div>
            <%}else{%>    
                
                <div class="logOut"> 
                <a href="/users/sign-out" > <small><button>logout</button></small> </a> 
                <span class="nameOfUser">Hii <%= locals.user.name%>  </span>
            </div>
            <%}%>
            
        <%} else { %>
            <div class="noUser">
                <ul>
                    <li> <a href="/users/sign-in"> <button>SignIn</button> </a> </li>
                    <li>  <a href="/users/sign-up"> <button>SignUp</button> </a> </li>
                </ul>
            </div>
        
        <%}%>       
    </div>
</div> 