<link rel="stylesheet" href="/css/signIn.css">
<div class='login'>
    <div class="card">
        <div class="right">
            <h1>Add  Employee</h1>
            <form method="POST" action="/users/addEmployee" >
                <input type="Name" name="name" placeholder="Enter name" required>
                <input type="email" name="email" placeholder="Enter email" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <input type="password" name="confirmPassword" placeholder="Confirm password" required>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</div>