<link rel="stylesheet" href="/css/forgotpass.css">
<div class='forgot'>
    <div class="card">
        <div class="right">
            <h1>Reset Your password</h1>
            <form method="POST" action="/users/forgetPasswordLink" >
                <input type="email" name="email" placeholder="Enter email" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
                <button type="submit">Reset</button>
            </form>
            <div class="buttons">
                <span>Don't havee an account</span>
                <a href="/users/sign-up"><button>Register</button></a>
            </div>
        </div>
    </div>
</div>